footer {
  background-color: $gray-800;
  color: #fff;
  padding: 28px 0 24px;
  a,
  i {
    color: #fff;
    font-weight: 600;
    transition: 0.25s;
    &:hover {
      color: $primary;
    }
  }
  .footer-logo {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    .form-group-inputAndButton {
      display: flex;
    }
    @include media-breakpoint-down(sm){
      flex-grow: 1;
      .form-group-inputAndButton{
        flex-direction: column;
      }
      input{
        margin-bottom: 10px;
      }
    }
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    a {
      font-size: 16px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include media-breakpoint-down(sm){
      margin-top: 25px;
    }
  }

  .footer-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 25px;
      i{
        margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
      }
    }
  }

  .footer-bottom {
    margin-top: 86px;
    display: flex;
    flex-grow: 1;
    a {
      margin-right: 32px;
      margin-left: auto;
      &:last-child {
        margin-right: 0;
        margin-left: 0;
      }
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      small{
        order: 1;
      }
      a{
        margin: 0;
      }
    }
  }
}
