.padding-y-80{
  padding-top: 80px;
  padding-bottom: 80px;
}

.padding-yt-0-yb-30{
  padding-top: 0;
  padding-bottom: 30px;
}

.padding-yt-0-yb-48{
  padding-top: 0;
  padding-bottom: 48px;
}

.padding-yt0-pb-80{
  padding-top: 0px;
  padding-bottom: 80px;
}